.container{
  width:1000px;
  height: 100px;
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0,0,0,8.16) 0px 1px 4px;
}
#navItems{
  display: flex;
  column-gap: 60px;
}
#navItems > text{
  font-size: 18px;
  font-weight: 400;
}
#button{
  column-gap: 8px;
  display: flex;
}
#buttonItems{
  display: flex;
  column-gap: 30px;

}
#buttonItems>text{
  font-size: 18px;
  font-weight: 400;
}
#buttonItems>button{
  font-size: 18px;
  font-weight: 400;
  border-color: black;
  background-color:#00BBAA;
}
.img1{
  margin-top: 50%;
}

.Hero{ 
  
  columns: 2;
}
.containers{
  columns: 2;
}